---
Language: Cpp
BasedOnStyle: Microsoft
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
ColumnLimit: 100
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Left
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 2
...
