[submodule "lib/vgg_contrib"]
	path = lib/vgg_contrib
	url = https://github.com/verygoodgraphics/vgg_contrib.git
[submodule "lib/vgg_automerge"]
	path = lib/vgg_automerge
	url = https://github.com/verygoodgraphics/vgg_automerge.git
[submodule "lib/vgg_sketch_parser"]
	path = lib/vgg_sketch_parser
	url = https://github.com/verygoodgraphics/vgg_sketch_parser
	branch = develop
